<div class="product-card">
    {% unless product.available %}
        <div class="product-meta-info">
            <strong>sold out</strong>
        </div>
    {% endunless %}
  <div class="product-card-image">
    {% assign image = product.images %}
    {% if image != blank %}
        <a class="{% if image[1] != blank %}hide-hover-image{% endif %}" class="product-image-link" href="{{ product.url | within: collection }}">
        <img src="{{ image[0] | img_url: 'large' }}" alt="{{ image[0].alt | escape }}">
        </a>

        {% if section.settings.show_hover_image %}
        {% if product.images[1] != blank %}
        <a class="show-hover-image" href="{{ product.url | within: collection }}">
            <img src="{{ product.images[1] | img_url: 'large' }}" alt="{{ product.images[1].alt | escape }}">
        </a>
        {% endif %}
    {% endif %}
    {% endif %}
    <div class="bottom-info-add">

      {%- assign current_variant = product.selected_or_first_available_variant -%}

      {% if product.compare_at_price_max > product.price %}
        {% assign youSave = "You save {{ product.compare_at_price_max | minus: product.price | times: 100.0 |divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}% ({{ product.compare_at_price_max | minus: product.price|money}})" %}
      {% endif %}

      {% assign vat = product.price | times:1.15 | money_without_trailing_zeros %}
      {% assign stock =  product.variants.first.inventory_quantity  %}
      {% assign price = product.price | money_without_trailing_zeros %}
      {% assign comparePrice = product.compare_at_price | money_without_trailing_zeros %}

      <button save="{{ youSave }}" vat="{{ vat }}" product-stock="{{ stock }}" product-handle="{{ product.handle }}" product-price="{{ price }}" compare-at-price="{{ comparePrice }}" product-sku="{{ current_variant.sku }}" id="showProduct" class="mela-btn" type="button">👁</button>

      <button id="addToCart" class="mela-btn" type="button">Add To Cart</button>

    </div>
  </div>
  <div class="product-bottom-details">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    <br>
  <span class="product-price-card">{{ product.price | money }}</span>
  </div>
</div>
