<section class="section-padding address-section">
    <div class="container">
        <div class="row">
            <div class="address-top-wrapper">
                <div class="section-title custom-title">
                    <h2>Your Addresses</h2>
                </div>
                <div class="modal-btn-wrapper">
                    <div class="create-addresses">
                        <button id="showModal"
                        class="btn shadow rounded-0 btn-primary bg-lg w-100"
                        >Create New Address +</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-md-3 row-cols-1 gx-2">
            {% for address in customer.addresses %}
                <div class="col mb-3">
                    <div class="card shadow">
                        <div class="card-body">
                            {{ address | format_address }}
                        </div>
                        <div class="card-footer">
                            <form class="address-delete-form"
                            method="post"
                            action="/account/addresses/{{ address.id }}"data-confirm-message="Delete Address">
                        <input type="hidden" name="_method" value="delete">
                        <button class="badge btn bg-danger" type="submit">Delete</button>
                        </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<div class="adress-modal shadow">
    <div id="closeBtn" class="close-btn">&times;</div>
    <div class="modal-contents">
        <div class="section-title text-center">
            <h2>Add New Address</h2>
        </div>
        {% form 'customer_address', customer.new_address %}
    
        {% include 'form-errors' %}
    
        <div class="form-floating mb-3">
            <input class="form-control" type="text" value="{{ form.first_name }}" name="address[first_name]" size="30" />
            <label for="first_name">First Name</label>
        </div>
    
        <div class="form-floating mb-3">
            <input class="form-control" type="text" value="{{ form.last_name }}" name="address[last_name]" size="30" />
            <label for="last_name">Last Name</label>
        </div>
    
        <div class="form-floating mb-3">
            <input class="form-control" type="text" value="{{ form.company }}" name="address[company]" /> 
            <label for="company">Company</label>
        </div>
    
        <div class="form-floating mb-3">
            <input class="form-control" type="text" value="{{ form.address1 }}" name="address[address1]" />
            <label for="address1">Address</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" value="{{ form.address2 }}" name="address[address2]" />
            <label for="address2">Appartment/suite etc</label>
          </div>
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="form-floating mb-3">
                    <input id="city" class="form-control" type="text" value="{{ form.city }}" name="address[city]" />
                    <label for="city">City</label>
                  </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="form-floating mb-3">
                    <select id="country" class="form-control" name="address[country]" />
                    {{ all_country_option_tags }}
                    </select>
                    <label for="country">Country</label>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="form-floating mb-3">
                    <select disabled id="province" class="form-control" name="address[province]" /></select> 
                    <label for="province">Province</label>         
                </div>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" type="text" value="" name="address[zip]" />
            <label for="zip">Zip/Post Code</label>
        </div>
    
        <div class="form-floating mb-3">
            <input class="form-control" type="tel" value="" name="address[phone]" />
            <label for="phone">Phone Number</label>
        </div>
        
        <button type="submit" class="btn btn-primary btn-lg w-100 rounded-0">Create New Address</button>
        {% endform %}
    </div> 
</div>


