<section class="main-collection-area section-padding">
    <div class="container">
      {% paginate collection.products by 8 %}
    <div class="section-title text-center">
      <h2>{{ collection.title }}</h2>
    </div>
    <div class="row mb-3">
      <div class="col-md-8 col-12">

        <div class="filter-wrapper">
          <form class="filter-form">
            {%- for filter in collection.filters -%}
              <details class="filter-group">
                <summary class="filter-group-summary">
                  <div>
                    <span>{{ filter.label }}</span>
          
                    {%- if filter.active_values.size > 0 -%}
                      <span>({{ filter.active_values.size }})</span>
                    {%- endif -%}
                  </div>
                </summary>
          
                <div class="filter-group-display">
                  <div class="filter-group-display__header">
                    <span class="filter-group-display__header-selected">{{ filter.active_values.size }} selected</span>
          
                    {%- if filter.active_values.size > 0 -%}
                      <a href="{{ filter.url_to_remove }}" class="filter-group-display__header-reset">Reset</a>
                    {%- endif -%}
                  </div>
          
                  {%- case filter.type -%}
                    {%- when 'list' -%}
                      <ul class="filter-group-display__list">
                        {%- for filter_value in filter.values -%}
                          <li class="filter-group-display__list-item">
                            <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                            <input type="checkbox"
                              name="{{ filter_value.param_name }}"
                              value="{{ filter_value.value }}"
                              id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                              {% if filter_value.active -%}checked{%- endif %}
                              {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                            >{{ filter_value.label }}</label>
                          </li>
                        {%- endfor -%}
                      </ul>
          
                      <div class="filter-group-display__submit">
                        <input type="submit" value="Apply">
                      </div>
                    {%- when 'price_range' -%}
                      <div class="filter-group-display__price-range">
                        <div class="filter-group-display__price-range-from">
                          <span>{{ cart.currency.symbol }}</span>
          
                          <input name="{{ filter.min_value.param_name }}"
                            id="Filter-{{ filter.min_value.param_name }}"
                            {% if filter.min_value.value -%}
                              value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                            {%- endif %}
                            type="number"
                            placeholder="0"
                            min="0"
                            max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          >
          
                          <label for="Filter-{{ filter.min_value.param_name }}">From</label>
                        </div>
                        <div class="filter-group-display__price-range-to">
                          <span>{{ cart.currency.symbol }}</span>
          
                          <input name="{{ filter.max_value.param_name }}"
                            id="Filter-{{ filter.max_value.param_name }}"
                            {% if filter.max_value.value -%}
                              value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                            {%- endif %}
                            type="number"
                            placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                            min="0"
                            max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          >
          
                          <label for="Filter-{{ filter.max_value.param_name }}">To</label>
                        </div>
                      </div>
          
                      <div class="filter-group-display__submit">
                        <input type="submit" value="Apply">
                      </div>
                  {%- endcase -%}
                </div>
              </details>
            {%- endfor -%}
          
            <div class="active-filters">
              <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear">Clear all</a>
          
              {%- for filter in collection.filters -%}
                {%- if filter.type == "price_range" -%}
                  {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                    <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
                      {%- assign min_value = filter.min_value.value | default: 0 -%}
                      {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                      {{ min_value | money }} - {{ max_value | money }} X
                    </a>
                  {%- endif -%}
                {%- else -%}
                  {%- for filter_value in filter.active_values -%}
                    <a class="active-filters__remove-filter" href="{{ filter_value.url_to_remove }}">
                      {{ filter_value.label }} X
                    </a>
                  {%- endfor -%}
                {%- endif- %}
              {%- endfor -%}
            </div>
          </form>
        </div>
        
      </div>
      <div class="col-md-4 col-12">
        <div class="product-sorting">
          <select name="sorting" id="sort_by" class="form-select">
            {% for option in collection.sort_options %}
              <option value="{{ option.value }}"
              {% if option.value == collection.sort_by %}
              selected="selected"
              {%endif%}>{{ option.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div> 
    <div class="product-card-wrapper">
    {% for product in collection.products %}
        <div class="product-card">
            {% unless product.available %}
                <div class="product-meta-info">
                    <strong>sold out</strong>
                </div>
            {% endunless %}
          <div class="product-card-image">
            {% assign image = product.images %}
            {% if image != blank %}
                <a class="{% if image[1] != blank %}hide-hover-image{% endif %}" class="product-image-link" href="{{ product.url | within: collection }}">
                <img src="{{ image[0] | img_url: 'large' }}" alt="{{ image[0].alt | escape }}">
                </a>

                {% if section.settings.show_hover_image %}
                {% if product.images[1] != blank %}
                <a class="show-hover-image" href="{{ product.url | within: collection }}">
                    <img src="{{ product.images[1] | img_url: 'large' }}" alt="{{ product.images[1].alt | escape }}">
                </a>
                {% endif %}
            {% endif %}
            {% endif %}
    
          </div>
          <div class="product-bottom-details">
            <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
            <br>
          <span class="product-price-card">{{ product.price | money }}</span>
          </div>
        </div>
    {% else %}
      <p>no matches</p>
    {% endfor %}
    </div>
    {% render 'pagination', paginate: paginate  %}
  {% endpaginate %}
  
    </div>
  </section>
  

  {% schema %}
  {
      "name": "Collection Default",
      "class": "default-collection-template",
      "settings":[
        {
            "type": "checkbox",
            "id": "show_hover_image",
            "label":"Show second image on hover",
            "default": true
        }
      ]
  }
  {% endschema %}