
<header>
    <div class="announcement-bar bg-success text-light py-2">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p><b>Get 30% of Discount</b> on order more than 100$</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header top area -->
    <div {% if section.settings.header_image %}
    style="background-image: url({{ section.settings.header_image | img_url:'master' }});"
    {% endif %} class="header-top-area py-2">
        <div class="container">
            <div class="header-top-inner">


                <div class="logo-aera">
                    <a href="/">
                        <img src="{{ 'logo.png' | asset_img_url: 'master' }}" alt="">
                    </a>
                </div>

                <div class="search-bar-area">
                    <form action="/search" method="GET" role="search">
                        <div class="form-group">
                            <input class="shadow" name="q" type="search" placeholder="Search Products and brands" value="{{ search.terms | escape }}" autocomplete="none" id="searchInputField">
                            <button class="btn btn-success rounded-0 search-button ml-button" type="submit">
                                {% render 'search-icon' %}
                            </button>
                        </div>
                    </form>
                    <div class="predective-search-box shadow"></div>
                </div>

                <div class="top-right-menu">
                    <ul class="top-right-area-menu">
                        <li>
                            <a href="#">
                                <span>{% render 'store-finder.liquid' %}</span> {{ "general.Layout.store_finder_text" | t }}
                            </a>
                        </li>
                        <li>
                        {% if shop.customer_accounts_enabled %}
                        {% if customer %}
                        <a href="/account">
                            <span>{% render 'my-account-icon.liquid' %}</span> {{ "general.Layout.account_text" | t }}
                        </a>
                        {% else %}
                        {% render 'my-account-icon.liquid' %}
                        <a href="{{ routes.account_login_url }}"> {{ "general.Layout.login_text" | t }} </a>
                        /
                        <a href="{{ routes.account_register_url }}"> {{ "general.Layout.register_text" | t }} </a>
                        {% endif %}
                    {% endif %}
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- End of header top -->

    <!-- Start of navigation -->
    <nav class="navbar shadow navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% for link in linklists.main-menu.links %}
                    {% assign child_list_handle = link.title | handleize %}
                        {% if linklists[child_list_handle].links != blank %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{ link.url }}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                               {{ link.title }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% for childlink in linklists[child_list_handle].links %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                                </li>
                            {% endfor %} 
                            </ul>
                          </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
          </div>
        </div>
    </nav>
    <!-- End of navigation -->
</header>

  {% schema %}
  {
     "name": "Header",
     "settings":[
        {
            "type": "image_picker",
            "id": "header_image",
            "label": "Header background image"
        },
        {
            "type": "link_list",
            "id":"main-menu-left",
            "label": "Select Header Left Menu"
        }
     ]
  }
  {% endschema %}