{% if cart.item_count > 0 %}
  <section class="cart-wrapper">
    <div class="container">
      <div class="section-title text-center my-5">
        <h2>My Cart</h2>
      </div>
        <form action="/cart" method="post" novalidate>
          <div class="row">
            <div class="col-md-9 cart-table-wrapper col-12">
              <table class="table table-responsive">
                <thead>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>total</th>
                </thead>
                <tbody>
                  {% for item in cart.items %}
                    <tr>
                      <td>
                        <a href="{{ item.url | within: collections.all }}">
                          <img class="cart-image-mela" src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                        </a>
                      </td>
                      <td>
                        <a href="{{ item.url }}">{{ item.product.title }}</a><br>
                        {{ item.variant.title }} <br>
                        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
                      </td>
                      <td>{{ item.price | money }}</td>
                      <td>
                        <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
                      </td>
                      <td>
                        {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                        {{ item.line_price | money }}
                        {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="col-md-3 col-12">
              <div class="cart-price-box">
                <p class="lead mb-3"> <strong>Sub total</strong> : {{ cart.total_price | money }}</p>
                <button class="btn btn-primary btn-lg w-100 mb-2" type="submit" name="update">Update</button>
                <button class="btn btn-danger btn-lg w-100" type="submit" name="checkout">Checkout</button>
              </div>
            </div>
          </div>
        </form>
      {% else %}
      <div class="container mt-5">
        <div class="row text-center d-flex align-center">
          <h2>cart</h2>
         <p> Cart is empty</p>
        </div>
      </div>    
    </div>
  </section>
{% endif %}
